<p>signin works!</p>
<!-- <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <label>name:</label>
    <input formControlName="name" /> -->
<!-- @if(signinForm.get('user.name')?hasError('required')){
        <mat-error>name is required</mat-error>  
    } -->

<!-- </form> -->
<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName="name" type="text" placeholder="Name" />
        @if (signinForm.get('name')?.hasError('required') && signinForm.get('name')?.touched) {
        <div>
            Name is required
        </div>
        }
    </div>
    <div>
        <input formControlName="email" type="email" placeholder="Email" />
        @if (signinForm.get('email')?.hasError('required') && signinForm.get('email')?.touched) {
        <div>
            Email is required
        </div>
        }
    </div>
    <div>
        <input formControlName="password" type="password" placeholder="Password" />
        @if (signinForm.get('password')?.hasError('required') && signinForm.get('password')?.touched) {
        <div>Password is required</div>
        }
    </div>
    <div>
        <input formControlName="role" type="text" placeholder="Role" />
        @if (signinForm.get('role')?.hasError('required') && signinForm.get('role')?.touched) {
        <div>Role is required</div>
        }
    </div>
    <button type="submit" [disabled]="!signinForm.valid">Submit</button>
</form>