<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName="name" type="text" placeholder="Name" />
        @if (signinForm.get('name')?.hasError('required') && signinForm.get('name')?.touched) {
        <div>
            Name is required
        </div>
        }
    </div>
    <div>
        <input formControlName="email" type="email" placeholder="Email" />
        @if (signinForm.get('email')?.hasError('required') && signinForm.get('email')?.touched) {
        <div>
            Email is required
        </div>
        }
    </div>
    <div>
        <input formControlName="password" type="password" placeholder="Password- min 6 tavs" />
        @if (signinForm.get('password')?.hasError('required') && signinForm.get('password')?.touched) {
        <div>Password is required</div>
        }
    </div>
    <div>
        <label for="role">בחר תפקיד:</label>
        <select formControlName="role">
            <option value="admin">admin</option>
            <option value="teacher">teacher</option>
            <option value="student">student</option>

        </select>
    </div>
    <button type="submit" [disabled]="!signinForm.valid">Submit</button>
</form>