<div class="courses-container">
    <!-- רשימת קורסים -->
    <div class="courses-list">
        <p>on courses</p>
        @if (errorMessage) {
        <div class="error-message">
            <p>{{ errorMessage }}</p>
        </div>
        }
        @if (courses.length > 0) {
        <h3>רשימת הקורסים</h3>
        <ul>
            @for (course of courses; track course.id) {
            <li>
                <p>{{ course.title }} - {{ course.description }}</p>
                @if (role === "teacher") {
                <button (click)="editCourse(course)">✏️ עריכה</button>
                <button (click)="deleteCourse(course.id)">❌ מחיקה</button>
                }
                @else if(role==="student"){
                @if(!isEnoled(course.id)) {
                <button (click)="addUser(course.id)">➕להצטרפות</button>
                }
                @else {
                <button (click)="removeUser(course.id)">❌ליציאה </button>
                }
                }
                <button (click)="forDetails(course.id)">לפרטי הקורס</button>
                <button (click)="forLessons(course.id)">📚 הצגת השיעורים</button>
            </li>
            }
        </ul>
        }
        @else if (courses.length === 0 && !errorMessage) {
        <p>לא נמצאו קורסים.</p>
        }
        @if (role === "teacher") {
        <button (click)="addCourse()">➕ הוספת קורס</button>

        }
    </div>
</div>